.main-banner {
  position: absolute;
  width: 100%;
  top: 0;
  transition: height 0.3s ease;
}

.main-warp {
  width: 100%;
  position: relative;
}
.main-img-warp {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: 50% 50%;
}
