.main-banner {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  transition: height 0.3s ease;
}

.main-warp {
  height: 100vh !important;
}

main-img-warp {
  height: 100vh !important;
}
