.about-detail-wrap {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  word-break: keep-all;
}

.about-main-text {
  max-width: 18rem;
}

.about-detail-text {
  -moz-columns: 2;
  column-count: 2;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.about-detail-text p {
  max-width: 26rem;
  margin: 0;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  .about-detail-wrap {
    grid-template-columns: 1fr 2fr;
  }
}
@media only screen and (max-width: 900px) {
  .about-detail-wrap {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: none;
  }
}
@media only screen and (max-width: 768px) {
  .about-detail-text {
    display: flex;
    flex-direction: column;
  }
}
