/*----------------메인 슬라이드 영역-----*/

.cate-img-warp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  flex-shrink: 0;
}
.cate-img-warp.fade-in {
  opacity: 1;
  visibility: visible;
}
.img-warp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
  padding-top: 119.78%;
  position: relative;
}
.cate-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 0;
  color: inherit;
  text-decoration: none;
}
.description-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: inherit;
}
.title-warp {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.date {
  display: flex;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
}
.tag {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: center;
}
.tag-child {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 62.4375rem;
  border: 1px solid #000;
}
.viewAll-cir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 999px;
  position: absolute;
  top: 0;
  left: 0;
}
.viewAll-cir-warp {
  width: 100%;
  height: 0;
  padding-top: 119.13%;
  position: relative;
}

.custom-next-main,
.custom-prev-main {
  color: #fff;
  position: absolute;
  top: 37%;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  transform: translateY(-37%);
}
.custom-next-main {
  right: 2rem;
}
.custom-prev-main {
  left: 2rem;
}
.custom-prev-main img,
.custom-next-main img {
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
}
.swiper-view-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1 1;
  padding-top: 119.78%;
  position: relative;
}

.swiper-view-all {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  border: 1px solid #000;
  border-radius: 999px;
}

.swiper-view-text {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.swiper-button-disabled {
  opacity: 0;
}

@media (max-width: 768px) {
  .img-warp {
    flex: 8;
  }
  .description {
    gap: 0.5rem;
  }
  .description-text {
    gap: 0.25rem;
  }
  .tag {
    gap: 0.25rem;
  }
  .custom-next-main {
    right: 1rem;
  }
  .custom-prev-main {
    left: 1rem;
  }
}
@media (max-width: 1080px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1440px) {
}
/*----------------메인 슬라이드 영역 끝-----*/
