/*----------------푸터 영역-----*/
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-bottom: 1rem;
  gap: 0.5rem;
}
.footer-text {
  flex: 1;
}
.main-footer {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
  }
}
/*----------------푸터 영역 끝-----*/
